<nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="label label-warning">5</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">You have 5 notifications</li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="#" data-backdrop="" data-toggle="modal" data-target="#modal-default">
                                    <i class="fa fa-users text-aqua"></i>Underwritter Request to View Profile
                                </a>
                                <a href="#" data-backdrop="" data-toggle="modal" data-target="#modal-default">
                                    <i class="fa fa-user-md text-aqua"></i>Doctor Request to View Profile
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"><a href="#">View all</a></li>
                </ul>
            </li>
            <li>
                <a (click)="logout()" style="cursor: pointer;">Logout</a>
            </li>
        </ul>
    </div>
</nav>