.navbar-nav {
    flex-direction: row !important;
  }
  
  .navbar-custom-menu ul li {
    margin-right: 20px;
  }
  
  
  .navbar-nav>.notifications-menu>.dropdown-menu,
  .navbar-nav>.messages-menu>.dropdown-menu,
  .navbar-nav>.tasks-menu>.dropdown-menu {
    width: 350px;
  }
  